.game__scoreboard {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 2;
  background-color: rgba(240, 248, 255, 0.5);
  padding: 10px;
  border-radius: 40px;
  padding: 20px;
}
