.menu__button {
  color:black;
  background-color: blanchedalmond;
  width: 300px;
  padding: 20px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 40px;
  font-size: 25px;
  font-weight: bold;
}

.menu__button:hover {
  color: white;
  background-color: black;
}
